<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./zoom.ts" defer></script>
    <link rel="stylesheet" href="./zoom.css" />
    <link rel="stylesheet" href="../shared/reset.css" />
    <title>Zoom Scroll Animation</title>
  </head>
  <body>
    <div id="zoom-container">
      <div class="layer">
        <div class="row top">
          <div class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
          <div class="item">Assumenda fugit et eius quae fugiat cumque sapiente veniam modi</div>
        </div>
        <div class="row bottom">
          <div class="item">Earum, rem placeat cumque commodi explicabo vel neque veritatis</div>
          <div class="item">Atque animi dignissimos, sequi nesciunt magnam laborum</div>
        </div>
      </div>
      <div class="layer">
        <div class="row top">
          <div class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>
          <div class="item">Assumenda fugit et eius quae fugiat cumque sapiente veniam modi</div>
        </div>
        <div class="row bottom">
          <div class="item">Earum, rem placeat cumque commodi explicabo vel neque veritatis</div>
          <div class="item">Atque animi dignissimos, sequi nesciunt magnam laborum incidunt</div>
        </div>
      </div>
      <div class="layer">
        <div class="row top">
          <div class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
          <div class="item">Assumenda fugit et eius quae fugiat cumque sapiente veniam modi</div>
        </div>
        <div class="row bottom">
          <div class="item">Earum, rem placeat cumque commodi explicabo vel neque veritatis</div>
          <div class="item">Atque animi dignissimos, sequi nesciunt magnam laborum incidunt</div>
        </div>
      </div>
      <div class="layer">
        <div class="row top">
          <div class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
          <div class="item">Assumenda fugit et eius quae fugiat cumque sapiente veniam modi</div>
        </div>
        <div class="row bottom">
          <div class="item">Earum, rem placeat cumque commodi explicabo vel neque veritatis</div>
          <div class="item">Atque animi dignissimos, sequi nesciunt magnam laborum incidunt</div>
        </div>
      </div>
    </div>
  </body>
</html>
