<section id="about">
  <h2>About Me</h2>
  <p class="pop">
    <strong
      >Freelance Javascript web developer, specialising in building interactive websites and single page apps with
      React.js.</strong
    >
  </p>
  <p>
    I enjoy learning new frameworks and technologies. Recently, I've been working with
    <strong class="highlight color3">React, React Router, Next.js, node, Express, Firebase, and MongoDB</strong>.
  </p>
  <p>
    My motivation has always been the challenge of mastering new skills and technologies. This has given me a wide
    variety of experience and knowledge, both in front- and back-end development.
  </p>
  <p>
    I started learning web development by myself in high school, writing plain html in notepad. I've always loved the
    challenge of programming, but I left it to get a 'real job'. But after years of working in the education sector, I'm
    returning to the field which originally sparked my interest.
  </p>
</section>
