<section id="about">
  <h2>About Me</h2>
  <p class="pop">
    <strong>
      I'm a freelance Javascript/Typescript web developer with a wide skillset and experience working with international
      clients.
    </strong>
  </p>
  <p>
    I can build whatever your business needs, whether it's a static HTML site for the fastest loading times, an
    SEO-optimised multi-page app with Next.js, or a highly interactive single page app with React.js.
  </p>
  <p>
    Languages: <strong class="highlight color3">Javascript, Typescript, Semantic HTML, CSS & SCSS, Git</strong>.
  </p>
  <p>
    Libraries/Frameworks: <strong class="highlight color2">React, Next, Astro</strong>.
  </p>
  <p>
    Backend: <strong class="highlight color3">Node, Express, MongoDB</strong>.
  </p>
  <p>
    Other libraries & technologies: <strong class="highlight color1"
      >Material UI, Bootstrap, Firebase, Recoil, Zustand, PWAs, Websockets</strong
    >.
  </p>
  <p>
    I started learning web development by myself in high school, writing plain html in notepad. I've always loved the
    challenge of programming, but I left it to get a 'real job'. But after years of working in the education sector, I
    returned to the field which originally sparked my interest.
  </p>
</section>
