---
import Minesweeper from '@components/Minesweeper/Minesweeper.astro';
import type { CollectionEntry } from 'astro:content';
import CodePenProject from './CodePenProject.astro';
import Carousel from '@components/Carousel/Carousel.astro';

interface Props {
  projects: CollectionEntry<'projects'>[];
}
const { projects } = Astro.props;
---

<div id="project-display-panel">
  {
    projects.map(async (project, i) => {
      if (project.data.codepen) return <CodePenProject project={project} />;

      const { Content } = await project.render();

      return (
        <div id={`${project.data.id}-display`} class="project-display" style={i === 0 ? { display: 'block' } : {}}>
          {project.data.images && <Carousel images={project.data.images} />}
          <div class="project-info">
            <h3>{`{ ${project.data.title} }`}</h3>
            <Content />
            {project.data.id === 'minesweeper' && <Minesweeper />}
          </div>
        </div>
      );
    })
  }
</div>
