<section id="contact">
  <div class="flex feature-wrapper">
    <div class="feature">
      <span class="feature-title highlight color3">Get in touch</span>
      <span class="feature-subtitle">Let's make something new</span>
    </div>
    <div>
      <p>Contact me by email or on LinkedIn. I'll be happy to talk about making your next project come to life.</p>
      <p class="flex-align">
        <img class="icon-small" src="/icons/email-svgrepo-com.svg" alt="email icon" />
        <a href="mailto:samuelreed01@gmail.com">samuelreed01@gmail.com</a>
      </p>
      <p class="flex-align">
        <img class="icon-small" src="/icons/linkedin-svgrepo-com.svg" alt="linkedin icon" />
        <a href="https://www.linkedin.com/in/samuelreed01/">linkedin.com/in/samuelreed01/</a>
      </p>
    </div>
  </div>
</section>
