<style lang="scss">
  #contact {
    margin: 0;
    margin-bottom: 5rem;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-primary-300);
    padding: 5rem 3rem;
  }

  .feature-wrapper {
    isolation: isolate;
    justify-content: center;
    gap: 2rem;

    & > * {
      //fix the flex-basis
      flex-basis: 30rem;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  .feature {
    margin: 6rem 0rem;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--ff-heading);
    max-width: max-content;
    padding: 0 0.5rem;

    &::before {
      content: '{';
      position: absolute;
      left: min(5rem, 10vw);
      top: calc(-1 * min(5rem, 10vw));
      font-size: min(10rem, 30vw);
      color: var(--color-primary-100);
      z-index: -1;
    }

    &::after {
      content: '}';
      position: absolute;
      right: min(5rem, 10vw);
      bottom: calc(-1 * min(5rem, 10vw));
      font-size: min(10rem, 30vw);
      color: var(--color-primary-100);
      z-index: -2;
    }

    .feature-title {
      font-size: var(--fs-subheading);
      position: relative;
      font-weight: bold;
    }

    .feature-subtitle {
      margin-top: 0.5rem;
      display: block;
      font-size: var(--fs-subsubheading);
      align-self: flex-end;
      padding-left: 1em;
    }
  }
</style>

<section id="contact">
  <div class="flex feature-wrapper">
    <div class="feature">
      <span class="feature-title highlight color3">Get in touch</span>
      <span class="feature-subtitle">Let's make something new</span>
    </div>
    <div>
      <p>Contact me by email or on LinkedIn. I'll be happy to talk about making your next project come to life.</p>
      <p class="flex-align">
        <img class="icon-small" src="/icons/email-svgrepo-com.svg" alt="email icon" />
        <a href="mailto:samuelreed01@gmail.com">samuelreed01@gmail.com</a>
      </p>
      <p class="flex-align">
        <img class="icon-small" src="/icons/linkedin-svgrepo-com.svg" alt="linkedin icon" />
        <a href="https://www.linkedin.com/in/samuelreed01/">linkedin.com/in/samuelreed01/</a>
      </p>
    </div>
  </div>
</section>
