<style lang="scss">
  @media (min-width: 480px) {
    #open-mobile-nav {
      display: none;
    }
  }

  #open-mobile-nav {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    position: fixed;
    width: 3.8rem;
    height: 3.8rem;
    top: 1rem;
    left: 1rem;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    outline: none;
    border: solid 1px var(--color-primary-300);
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.2rem;

    & > span:first-child {
      align-self: flex-start;
    }
    & > span:last-child {
      align-self: flex-end;
      margin-bottom: 0.2em;
    }
  }

  label {
    visibility: hidden;
  }
</style>

<label for="open-mobile-nav">Open Navigation Bar</label>
<button id="open-mobile-nav"><span>{'{'}</span><span>{'}'}</span></button>
<nav id="">
  <ul>
    <li><a href="#about">{'{ About }'}</a></li>
    <li><a href="#projects">{'{ Projects }'}</a></li>
    <li><a href="#contact">{'{ Contact }'}</a></li>
  </ul>
</nav>
