// NAVBAR

nav {
  font-size: var(--fs-nav);
  font-family: var(--ff-heading);
  color: var(--color-nav);
  background-color: var(--color-background-nav);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;

  & > ul {
    margin: 0 auto;
    padding: 0;
    max-width: 50rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }

  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: var(--fs-nav);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    &:hover {
      color: var(--color-background-nav);
      background-color: var(--color-nav);
    }
  }

  a {
    display: inline-block;
    padding: 0.5em 1em;
    color: currentColor;
    text-decoration: none;
  }
}
