---
import './Banner.scss'
---

<div id="banner">
  <div id="title-wrapper">
    <div class="title"><span></span>/src/</div>
    <div class="subtitle">Samuel Reed Coding</div>
  </div>
  <div id="cta-wrapper">
    <div>Frontend Development</div>
    <a href="#contact" class="button">Contact</a>
  </div>
</div>